@import url("https://fonts.googleapis.com/css?family=Open Sans");

/*Variables*/
:root {
	--regular-font-family: "Open Sans", sans-serif;
    --regular-font-size: 1vw;
    --heading-font-family: "Times New Roman", serif;
    --heading-font-size: 5vw;
    --primary-color: #000000;
    --secondary-color: #FFFFFF;
	--accent-color: #E5CEF6;
    --hover-color: #CEA3EE;
}

body{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--regular-font-family);
    font-size: var(--regular-font-size);
}

h1{
    font-family: var(--heading-font-family);
    font-size: var(--heading-font-size);
}

p {
	font-size: var(--regular-font-size);
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

a:hover {
    text-decoration: none;
    color: var(--hover-color);
}

img {
	border-radius: 50%;
	width: 25%;
	/* float: right; */
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}

.btn_pill {
	background-color: var(--primary-color);
	border-color: var(--secondary-color);
	color: var(--accent-color);
	border-radius: 1.5vw;
	font-size: var(--regular-font-size);
	padding: 0.5vw;
}

.btn_pill:hover {
	color: var(--hover-color);
}
